<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<display-name>RegistrarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.RegistrarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<display-name>ValidarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.ValidarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CerrarSesion</servlet-name>
  	<display-name>CerrarSesion</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.CerrarSesion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarLibro</servlet-name>
  	<display-name>BorrarLibro</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.BorrarLibro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarArticulo</servlet-name>
  	<display-name>BorrarArticulo</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.BorrarArticulo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditarArticulo</servlet-name>
  	<display-name>EditarArticulo</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.EditarArticulo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnadirArticulo</servlet-name>
  	<display-name>AnadirArticulo</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.AnadirArticulo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditarUsuario</servlet-name>
  	<display-name>EditarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.EditarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ComprarArticulo</servlet-name>
  	<display-name>ComprarArticulo</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.ComprarArticulo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarCompra</servlet-name>
  	<display-name>BorrarCompra</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.BorrarCompra</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarUsuario</servlet-name>
  	<display-name>BorrarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.altair.controller.BorrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<url-pattern>/RegistrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<url-pattern>/ValidarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CerrarSesion</servlet-name>
  	<url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarLibro</servlet-name>
  	<url-pattern>/BorrarLibro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarArticulo</servlet-name>
  	<url-pattern>/BorrarArticulo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarArticulo</servlet-name>
  	<url-pattern>/EditarArticulo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnadirArticulo</servlet-name>
  	<url-pattern>/AnadirArticulo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarUsuario</servlet-name>
  	<url-pattern>/EditarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComprarArticulo</servlet-name>
  	<url-pattern>/ComprarArticulo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarCompra</servlet-name>
  	<url-pattern>/BorrarCompra</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarUsuario</servlet-name>
  	<url-pattern>/BorrarUsuario</url-pattern>
  </servlet-mapping>
</web-app>
