@charset "ISO-8859-1";

body{
    font-family:arial;
	color: #CCC;
background:#8ba987 url('http://i.imgur.com/7Prf6.jpg');	
}
form{
	color: yellow; 
}
#seccion {
	float: left;
	width: 660px;
	margin: 20px !important ;
}