@charset "ISO-8859-1";

body{
    background:#8ba987 url('https://images5.alphacoders.com/380/thumb-1920-380568.jpg') no-repeat center center;
    font-family: 'Indie Flower', cursive;
	color: #CCC;
}
form{
	color: yellow; 
}